{% extends 'myapp/base.html' %}

{% block content %}


{% if not videos_exist %}
    <h2>Upload Video</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
{% else %}
<h2>Prediction</h2>
    {% for video in videos %}
        <div class="video-flex-container">
            <div class="video-section">
                <video id="video_{{ video.id }}" class="video-js" controls="controls" preload="auto" width="960" height="640" data-setup="{}">
                    <source src="{{ video.video.url }}" type="video/mp4">
                    <source src="MY_VIDEO.webm" type="video/webm" />
                    <p class="vjs-no-js">
                        {% comment %} To view this video please enable JavaScript, and consider upgrading to a
                        web browser that {% endcomment %}
                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <div class="controls-section">
                <form action="{% url 'delete_video' video.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <form action="{% url 'delete_video' video.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                    {% for label, start_time, end_time in time_points %}
                    <a href="#" class="time-link" data-video-id="video_{{ video.id }}" data-start-time="{{ start_time }}" data-end-time="{{ end_time }}">{{ label }}</a>
                    {% endfor %}
                </div>
            </div>   
    {% endfor %}
{% endif %}

{% comment %} <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script> {% endcomment %}

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const timeLinks = document.querySelectorAll('.time-link');
        timeLinks.forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const videoId = this.getAttribute('data-video-id');
                const startTime = parseFloat(this.getAttribute('data-start-time'));
                const endTime = parseFloat(this.getAttribute('data-end-time'));
                const video = document.getElementById(videoId);
                video.currentTime = startTime;
                video.play();
                
                // Function to stop the video
                function stopVideoAtEndTime() {
                    if (video.currentTime >= endTime) {
                        video.pause();
                        video.removeEventListener('timeupdate', stopVideoAtEndTime); // Remove the event listener after stopping
                    }
                }
    
                // Remove any existing timeupdate listeners to avoid duplicates
                video.removeEventListener('timeupdate', stopVideoAtEndTime);
                
                // Add a new timeupdate listener
                video.addEventListener('timeupdate', stopVideoAtEndTime);
            });
        });
    });
</script>

{% endblock %}
