{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main-container">
        <button id="loginBtn">Login</button>
        <button id="registerBtn">Registration</button>

        <div id="loginForm" class="form-container">
            <h2>Login</h2>
            <input type="text" placeholder="Login" id="loginInput">
            <input type="password" placeholder="Password" id="passwordInput">
            <input type="checkbox" id="togglePassword"> Show Password
            <button onclick="login()">Login</button>
        </div>

        <div id="registerForm" class="form-container">
            <h2>Registration</h2>
            <!-- Registration fields go here -->
            <button onclick="register()">Register</button>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
